

.main-div
{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    justify-content: center;
    margin: 50px auto;
    height: 550px;
    background: #1F2937;
    padding: 0% 3%;
    color: white;
    border-radius: 10px;
}
.main-btn {
    border-top: 2px solid #10B981;
    margin-top: 3%;
   
}
span {
    color: #55F991;
}
.btn-one {
    margin-top: 40px;
    background: #10B981;
    color: white;
    width: 250px;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
}
.btn-two 
{
   
    margin-top: 30px;
    width: 1fr;
    height: 1fr;
    min-height: 50px;
    min-width: 150px;
    padding: 10px 30px;
    background: #10B981;
    border-radius: 4px;
    padding: 15px 3px;
    color: white;
}
#number-el {
   
    background: white;
    color: black;
    width: 50px;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
}